@model blackjack_api_w_tdd.Models.deck

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Card Dealer</h3>

<p>You have @Model.remaining cards remaining in your deck.</p>

<p>
    <a class="btn btn-default" href="@Url.Action("DrawACard", new { deck_id = Model.deck_id })" ;>Deal a card</a>
</p>