@model blackjack_api_w_tdd.Models.CardsViewModel

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
<h2>Dealer's Hand</h2>
<br />
<br />
foreach (var card in Model.dealer.hand)
{
        <img src="@card.image" />
}
<br />
<br />
<p>
    <input type="submit" value="Hit" name="dealerHitButton"/>
</p>
<br />
<br />
<br />
<hr />
<br />


<h2>Player's Hand</h2>
<br />
<br />
foreach (var card in Model.player.hand)
    {
        <img src="@card.image" />
    }
<br />
<br />
<p>
    <input type="submit" value="Hit" name="playerHitButton" />
</p>
}